@font-face {
    font-family: 'ewha';
    src: url(../static/fonts/ewha.ttf);
}
*{
    font-family: 'ewha';
    
}

/*전체 섹션*/
.detail{
    display: flex;
    unicode-bidi: isolate;
}

/*사진 섹션*/
div.pic-section{
    flex: 1; /* 1:2 비율에서 1 비율 */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.product-image{
    width: 100%;
    height: auto;
    max-width: 300px;
}

/*설명 섹션*/
div.info-section{
    flex: 2; /* 1:2 비율에서 2 비율 */
    padding-left: 20px;
    /*
    width:65%;
    float: right;
    position: relative;
    box-sizing: border-box;
    padding-left: 20px;
    */

}


.product-info {
    margin-bottom: 20px;
}

.product-info h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.discounted-price {
    color: black;
    font-size: 20px;
    margin: 10px 0;
}

.discounted-price span {
    color: #e74c3c;
    font-weight: bold;

}

/*상세정보*/
.a-info-row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
}

.title{
    font-size: 20px;
    color: #6C6C6C;
    text-align: left;

}
.value{
    font-size: 20px;
    
}

.additional-info {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.divider {
    border-top: 1px solid #C1C1C1;
    margin: 15px 0;
    opacity: 0.7;
}

/*하단버튼*/
.chat-btn {
    background-color: rgb(0, 70, 42);
    color: white;
    border: none;
    height: 25px;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto;
}
.order {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.order p{
    margin :0;
}
  
input{
    width: 60px; 
    text-align: center; 
    margin-right: 10px; 
    font-size: 18px;
     padding: 5px;
}
.add-to-cart{
    background-color: rgb(0, 70, 42);
    color: white;
    border: none;
    height: 25px;
    width: 250px;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto;

}

.icons{
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    margin-top: 10px;
}