@font-face {
    font-family: 'ewha';
    src: url(../static/fonts/ewha.ttf);
}
/* 메인 레이아웃 */
.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* 카테고리 섹션 */
.category-section {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

/* 컨테이너를 좌우 중앙 정렬 */
.category-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

/* 상품 및 필터 섹션을 행 형태로 정렬 */
.product-list {
    flex-grow: 1;
    display: flex;
    gap: 20px;
}

/* 필터 섹션 */
.filter-section {
    width: 20%;
    float:left;
    margin-right: 20px;
}

/*상품 섹션*/
.product-section {
    margin-left: 220px;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

