body {
    font-family: Poppins, 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    color: rgb(0, 90, 52);
}

.form-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
}



.input-container {
    flex: 1;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;

    /* border-left: 1px; */
}


.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    /* Updated to increase gap between input boxes */
}

.input-group label {
    width: 150px;
    margin-right: 10px;
    text-align: left;
}

input[type="text"],
input[type="date"],
select,
textarea {
    flex: 1;
    max-width: 600px;
    height: 45px;
    border: 1px solid rgb(0, 70, 42);
    border-radius: 4px;
    padding: 0.5em;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.button {
    flex: 1;
    max-width: 200px;
}

input[type="submit"],
.file-upload-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(0, 70, 42);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

input[type="submit"]:hover,
.file-upload-button:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 70, 42);
    border: 1px solid rgb(0, 70, 42);
}

.file-upload-button {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.input-group label::after {
    content: "*";
    color: red;
    margin-left: 5px;
    font-size: 1.2em;
}

.input-group-radio {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-group-radio input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #00462A;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.input-group-radio input[type="radio"]:checked {
    background-color: #00462A;
    color: rgb(0, 70, 42);
    cursor: pointer;
}

.input-group-radio input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group-radio label {
    color: #00462A;
    cursor: pointer;
    /* position: relative;
    left: 5px; */
    margin-left: 0px;
    margin-right: 30px;
}

.input-group-radio input[type="radio"]:not(:checked)+label {
    color: rgb(0, 70, 42);
}

/* Responsive styles */
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.green-box {
    height: 20px;
    background-color: rgb(0, 90, 52);
    width: 100%;
    margin-bottom: 20px;
}

div.gallery {
    border: 1px solid #ccc;

}

div.gallery:hover {
    border: 1px solid #777;
}

/* div.gallery img {
    width: 100%;
    height: auto;
} */

div.gallery img {
    display: block;
    width: 100%;
    /* Ensures the image fills the container's width */
    height: 100%;
    /* Ensures the image fills the container's height */
    object-fit: cover;
    /* Scales the image to cover the entire container */
    object-position: center;
    /* Center the part of the image that displays */
    border-radius: 8px;
    /* Rounds the corners to match the gallery box */
}

.gallery {
    border: 2px dashed rgb(0, 70, 42);
    padding: 10px;
    text-align: center;
    width: 414px;
    height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    margin: 20px 0;
    border-radius: 8px;
}

.button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(0, 70, 42);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: inline-block;

}


.button:hover {
    background-color: rgb(0, 70, 42);
    /* Example hover color */
}

textarea {
    flex: 1;
    max-width: 600px;
    height: 300px;
    /* Adjust height as needed */
    border: 1px solid rgb(0, 70, 42);
    border-radius: 4px;
    padding: 0.5em;
    box-sizing: border-box;
    resize: vertical;
    /* Allow vertical resizing if desired */
}

.right-column {
    flex: 1;
    margin-left: 20px;
}


.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    height: 100vh;
    /* Fill the height of the parent container */
    padding: 20px;
}

.upload-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

