.review-container {
    width: 800px;
    height:auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.section {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

textarea {
    height: 150px;
}

.rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rating span {
    margin-right: 8px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

.rating input[type="radio"]:checked ~ label {
    color: #ccc;
}

.rating input[type="radio"]:checked + label,
.rating input[type="radio"]:checked + label ~ label {
    color: #ffcc00; /* 선택된 별 및 이전 별 채우기 */
}

.rating label:hover,
.rating label:hover ~ label {
    color: #ffcc00;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-draft {
    background-color: #e0e0e0;
    margin-right: 5px;
    margin-left: 5px;
}

.submit-review {
    background-color: #4caf50;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

.cancel-review {
    background-color: #fbb1ac;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

hr {
    border: 0;
    border-top: 1px solid rgb(21, 135, 89);
    margin: 15px 0;
}

.productInfo{
    color: black;
    font-size: 20px;
    float: left;
}

.imageUploadBtn{
    padding:0;
    cursor: pointer;
    width: 12%;
}

.imageUploadImg{
    width:100%;
}
