* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 10px;
    background: #f1f1f1;
}

nav {
    overflow: hidden;
    background-color: rgb(0, 70, 42);
    font-size: 130%;
}

.navbar__logo a{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
}

ul{
    list-style-type:none;
}

li a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: rgb(0, 70, 42);
}

#testBtn {
    display: block;
    margin: 20px auto; /* 상하 20px, 좌우 자동 */
}
.input_image {
    width: 500px; /* 원하는 너비 설정 */
    height: auto; /* 비율 유지 */
}