/*헤더*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: #00462A;
    text-align: center;
    padding:15px;
    z-index: 500;
}

.section-title {
    color: #1F1F1F;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 25px;
}

/*인기상품*/
.popular-list {
    text-align: center;
    padding-top: 80px;
    padding: 20px;
}

.popular-table {
    width: auto;
    table-layout: fixed;
    border-collapse: seperate;
    border-spacing: 15px;
    margin:50px auto;
}

.popular-item {
    overflow: hidden;
    position: relative;
}

.popular-name {
    color: #00462A;
    text-align: left;
    font-size: 15px;
    margin: 10px 0;
    font-weight: bold;
    line-height: 1;
}

.popular-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none; /*원래는 숨김처리*/
    position: absolute; /*부모 요소를 기준으로 위치 설정*/

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333;
    font-size: 16px;
    padding: 10px;
}

.popular-item:hover .overlay {
    display:flex; /*마우스 올릴 때만 보이게*/
}

.scroll-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px; 
}


/*추천순 인기순 리뷰순*/
.total-count {
    color: #A2A1A1;
}

.sort-options {
    display: flex;
    gap: 15px;
}

.sort-button {
    color: #33333385;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s, font-weight 0.3s;
    font-weight: 500;
}

.sort-button.active {
    color: #00462A;
    font-weight: 700;
    /*text-decoration: underline;
    text-decoration-color: #a5a5a54f;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.5px;*/
}

.sort-button:hover { 
    color: #00462A;
} /*마우스 올리면 색 변하게*/




/*일반 상품 목록*/
.product-table {
    width: auto;
    table-layout: fixed;
    border-spacing: 15px;
    margin: 0;
    text-align: left;
    align-items: left;
}

.product-table td {
    width: auto;
    vertical-align: top;
    padding: 0;
    margin: 0;
    text-align: left;
    align-items: left;
}

.product-item {
    text-align: left;
    border: 1px solid #f2f2f280;
    padding: 3px; /*컨텐츠와 테두리 사이 공간*/
    border-radius: 5px;
    background-color: #f2f2f280;
    height: 100%;
    max-width: 200px;
    overflow: hidden; 
}

.product-image {
    width: 270px;
    height: 270px;
    border-radius: 8px;
    display: block;
    margin: 0;
    object-fit: cover;

}

/*상품 설명*/
.product-name, .price, .discount, .discount-price, .rating, .price-not {
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal; /*너비에 맞게 줄바꿈*/
}

.product-name {
    color: #00462A;
    font-size: 17px;
    margin: 10px 0;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1.3;
}

.price {
    color: #A2A1A1;
    font-size: 11px;
    text-decoration: line-through;
    margin-left: 19px;
    line-height: 0;
}

.price-not { /*할인하지 않는 상품*/
    color:#333;
    font-size: 14px;
    margin-left: 19px;
    line-height: 0.;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}

/*할인율 표시*/
.discount {
    color: #ff4d4f;
    font-size: 15px;
    font-weight: bold;
    margin: 3px 0;
    margin-left: 10px;
    line-height: 1.5;
    display: block;
}

.discount-price {
    color:#333;
    margin-left: 1px;
    font-size:15px;
}

.rating {
    color: #777; /* 회색 */
    font-size: 12px;
    margin-top: 5px;
    margin-left: 19px;
}


/*페이지네이션*/
.pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.pagination a {
    color: #00462A;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #00462A;
    color: white;
}

.product-item a {
    text-decoration: none;
    color: inherit;
}

.product-item a:hover .product-image {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.footerBox{
    padding-top: 30px;
    border-top: 1px solid #f7f7f7;
    background-color: rgb(0, 70, 42);
}

.footerBox2{
    width: 1050px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.footerText{
    color:white;
    opacity: 0.77;
    
}


/*등록순 페이지네이션*/
.page-nation li{
    list-style: none;
}

.page-wrap{
    text-align: center;
}

.page_nation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-nation a{
    display: block;
    margin: 0 3px;
    float: left;
    border: 1px solid #e6e6e6;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.method{
    margin-left: 1px;
    font-size: 14px;
}

.text{
    color: red;}