*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 24px;
    color: #2d572c;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 8px 16px;
    background-color: #2d572c;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-menu a {
    margin-left: 20px;
    color: #2d572c;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.product-list h2 {
    font-size: 24px;
    color: #2d572c;
    text-align: center;
    margin-bottom: 20px;
}

.product-list h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.popular-products, .all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.popular-produxts img, .all-products img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px
}

.all-products p {
    width: 100%;
    text-align: left;
    padding-left: 1-px;
    color: #555;
    margin: 10px 0;
}

.css-1stur9s {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    line-height: 20px;
}

.css-crqql1 {
    font-size: 14px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.css-5uzvtq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.css-126imjl {
    letter-spacing: -0.3px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: default;
}
.css-1vmfy7j {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-raoddi {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    gap: 16px 83px;
    overflow: hidden;
    margin-top: 28px;
    padding: 30px 40px;
    border: 1px solid rgb(226, 226, 226);
    line-height: 20px;
}