{% extends "index.html" %}

{% block section %}
<form action="/submit_item" method="get" enctype="multipart/form-data">
    <div><br><br>
        <label for="name">Item name: </label>
        <input type="text" name = "name" id = "name" required><br><br>
    </div>
    <div>
        <label for="seller"> Seller ID: </label>
        
        <input type="text" name="seller" id="seller" required>
        <br><br>
    </div>
    <div>
        <label for="addr"> Address: </label>
        
        <input type="text" name="addr" id="addr" required>
        <br><br>
    </div>
    <div>
        <label for="tel">Email: </label>
        
        <input type="text" name=”email" id=”email" required>
        <br><br>
    </div>
    <div>
       
        <label  for="category">Category: </label><br>
            <select id="category" name="category">
                <option value="Clothes" selected> Clothes </option>
                <option value="Beauty"> Beauty </option>
                <option value="Books"> Books </option>
                <option value="Furniture"> Furniture </option>
                <option value="Electronics"> Electronics </option>
                <option value="ETC"> ETC </option>
                </select><br><br>
    
    <div>
        <label for="card">Credit Card? (Y/N): </label> <br>
        <select id="card" name="card">
            <option value="Y" selected>Yes</option>
            <option value="N">No</option>
        </select><br><br>
    </div>
    <div>
        <label for="status">Status? </label>
        <br>
        <select id="status" name="status">
            <option value="new" selected>New</option>
            <option value="lnew">Likely New</option>
            <option value="used">Used</option>
        </select><br><br>
    </div>
    <div>
        <label for="phone">Phone : </label>
        <input type="text" name="name" id="phone"><br><br>
    </div>
    <div>
        <label for="img">Representative Image upload : </label>
        <input type="file" name="file" /><br><br>
        </div>
    <div>
        <input type = "submit" value="Submit!"><br><br>
    </div>

</form>
{% endblock section %}