{% extends "index.html" %}
{% block section %}
<form action="/submit_item_post" method="post"></form>
<div><br><br>
    <label for="name">Item name: </label>
    <input </div>
    <div>
        <label for="seller"> Seller ID: </label>
        type="text" name="name" id="name" required><br><br>
        <input </div>
        <div>
            <label for="addr"> Address: </label>
            type="text" name="seller" id="seller" required><br><br>
            <input </div>
            <div>
                <label for="tel">Email: </label>
                type="text" name="addr" id="addr" required><br><br>
                <input </div>
                <div>
                    <label <br>
                        <select id="category" name="category">
                            <option value="Clothes" selected> Clothes </option>
                            <option value="Beauty"> Beauty </option>
                            <option value="Books"> Books </option>
                            type="text" name=”email" id=”email" required><br><br> for="category">Category: </label>
                    <option value="Furniture"> Furniture </option>
                    <option value="Electronics"> Electronics </option>
                    <option value="ETC"> ETC </option> </select><br><br>
                </div>
                <div>
                    <label for="card">Credit Card? (Y/N): </label> <br>
                    <select id="card" name="card">
                        <option value="Y" selected>Yes</option>
                        <option value="N">No</option>
                    </select><br><br>
                </div>
                <div>
                    <label for="status">Status? </label>
                    <br>
                    <select id="status" name="status">
                        <option value="new" selected>New</option>
                        <option value="lnew">Likely New</option>
                        <option value="used">Used</option>
                    </select><br><br>
                </div>
                <div>
                    <label for="phone">Phone : </label>
                    <input </div>
                    <div>
                        <input type="submit" value="Submit!"><br><br>
                    </div>
                    </form>
                    {% endblock section %}

                    type="text" name="phone" id="phone"><br><br>
                    <!-- <form method="post" enctype="multipart/form-data" action="/submit_item_post">
                        ...
                        ... </form> -->