{% extends "index.html" %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
<link rel="stylesheet" type="text/css" href="../static/cart.css">
<link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
{% endblock %}
{% block section %}

<div class="all">
    <div class="firstBox">
        <div class="secondBox">
            <h2 class="topText">
                <p class="cartText">장바구니</p>
            </h2>
            <div class="box1">
                <div class="cartItemBox1">
                    <div class="cartItemBox2">
                        <span class="spanClass"></span>
                        {% for item_name, item_data in cart_items.items() %}
                        <div class="itemInfoBox1">
                            <div>
                                <div class="itemInfoBoxForDynamic">
                                    <div class="itemNameBox1">
                                        <button class="cancleItem" onclick="location.href='/removeCart/{{item_name}}/';">
                                            <img src="../static/images/cancle.PNG" style="width: 20px; height: 20px; cursor: pointer;" onclick="location.href='/removeCart/{{item_name}}/';">
                                        </button>
                                    </div>
                                    <div class="itemInfoBox3">
                                        <!-- <a href="" class="linkClass"> -->
                                            <div class="itemNameText">
                                                <p class="itemNameText2">{{ item_name }}</p>
                                            </div>
                                        </a>
                                        <div class="itemInfoBox4">
                                            <a href="/view_detail/{{ item_name }}" class="linkClass" style="width: 80px; height: 83px;">
                                                <div class="imgBox1">
                                                    <div class="imgBox2">
                                                        <img class="imgBox3" src="{{ url_for('static', filename='images/inputImages/' + item_data.img_path) }}">
                                                        <div class = "itemInfo">
                                                            상세 정보<br>보러가기
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="itemPriceBox1">
                                                <div class=itemPriceBox2>
                                                    <p class="priceText">{{ item_data.price }}원</p>
                                                    <p class="priceText5">거래방식: {{ item_data.method }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="priceBox1">
                            <p class="priceText4">{{ total_price }}원</p>
                        </div>
                    </div>
                </div>
                <div class="buyInfoBox1">
                    <div class="buyInfoBox2">
                        <div class="addressBox1">
                            <div class="addrIconTextBox1">
                                <img class="addrIconImg">
                                <p class="addrText">배송지</p>
                            </div>
                            <button class="addrDetailBox1">
                                <div class="addrDetailBox2">
                                    <div>
                                        <p class="addrTextDetail">{{user_info['address']}}</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="priceInfoBox1">
                            <p class="priceText1">결제금액</p>
                            <div class="priceInfoBox2">
                                <p class="priceText2">결제예정금액</p>
                                <p class="priceText3">{{ total_price }}원</p>
                            </div>
                        </div>
                        <button class="buyBtn">{{ total_price }}원 주문하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock section %}