<main class="main-layout">
    <!--카테고리-->
    <section class="category-section"> 
        <h2 id="category-header">카테고리</h2>
        <div class="category-container">
            <div class="category-item">스킨케어 및 메이크업</div>
            <div class="category-item">헤어 바디 구강</div>
            <div class="category-item">육류 및 해산물</div>
            <div class="category-item">가공식품</div>
            <div class="category-item">생활용품 및 리빙</div>
            <div class="category-item">과일 채소</div>
            <div class="category-item">냉동식품</div>
            <a href="#" class="more-link">> 카테고리 더보기</a>
        </div>
    </section>>
     <!--좌측 필터-->
    <aside class="filter-section">
        <h3>필터</h3>
        <form>
            <div class="filter-group">
                <h3>남은기간</h3>
                <div class="filter-item">
                    <input type="checkbox" id="1w">
                    <label for="1w">1주일 이내</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="3d">
                    <label for="3d">3일 이내</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="1d">
                    <label for="1d">24시간 이내</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="1w">
                    <label for="1w">1주일 이내</label>
                </div>
            </div>
            <div class="filter-group">
                <h3>진행사항</h3>
                <div class="filter-item">
                    <input type="checkbox" id="9">
                    <label for="9">90%~</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="8">
                    <label for="8">80%~</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="7">
                    <label for="7">70%~</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="6">
                    <label for="6">60%~</label>
                </div>

            </div>
            <div class="filter-group">
                <h3>혜택</h3>
                <div class="filter-item">
                    <input type="checkbox" id="sale">
                    <label for="sale">할인상품</label>
                </div>
            </div>


        </form>

    </aside>
</main>
@font-face {
    font-family: 'ewha';
    src: url(../static/fonts/ewha.ttf);
}
.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*카테고리 관련*/

/*1.전체 카테고리 스타일*/
.category-section {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}
.category-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; /* 항목 간의 간격 */
    align-items: center;
    position: absolute;
    padding: 20px 15px 20px 200px;
    width: 100%;
    height: 180px;
    left: 139px;
    top: 351px;
    border: 1px solid rgb(0, 70, 42);
    background: rgb(255, 254, 254);

}
/*2. 카테고리 제목*/

#category-header{
    position: absolute;
    position: absolute;
    width: 150px;
    height: 67px;
    left: 44.58%;
    right: 47.6%;
    top: 28.43%;
    bottom: 65.37%;
    color: rgb(0, 0, 0);
    font-family: 'ewha';
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

}
/*3.각 카테고리 스타일*/
.category-item {
    position: relative;
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    cursor: pointer;

    font-family:'ewha';
    color: rgb(42, 42, 42);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.more-link {
    font-family:'ewha';
    font-size: 18px;
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

/*메인 컨텐츠 관련*/
/*필터섹션*/

.filter-section {
    width: 20%;
    margin-right: 20px;
}

.filter-section h3 {
    margin-bottom: 10px;

    color: rgb(42, 42, 42);
    font-family: 'ewha';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.filter-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
    color: rgb(42, 42, 42);
    font-family: 'ewha';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.filter-item input[type="checkbox"] {
    margin-right: 5px;

    background: rgb(68, 68, 68);
}