{% extends "index.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="../static/grpurchaseDetail.css">
    <link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
   
{% endblock %}

{% block section %}

    <body>
        <script src="../static/cart.js"></script>
        <section class="detail">
            <!--사진 섹션-->
            <div class="pic-section">
                <img src="../static/images/공구_상세페이지_솥반.png" alt="상품 이미지" class="product-image">
            </div>
            <!--설명 섹션-->
            <div class="info-section">
                <div class="product-info">
                    <p style="color:#888;">마감시간 : 24시간 이내(오늘 오후 11시)</p>
                    <h2>[햇반] 솥반 12개</h2>
                    <p class="original-price">20,000원</p>
                    <p class="discounted-price"><span>10%</span> 18,000원 ~ 1,500원(개당)</p>
                </div>
                <div class="additional-info">
                    <div class="a-info-row">
                        <span class="title">판매처</span>
                        <span class="value">[마켓컬리] <a href="https://www.kurly.com/goods/5082168">https://www.kurly.com</a></span>
                    </div>
                    <div class="divider"></div>
                    <div class="a-info-row">
                        <span class="title">공동구매 주최자</span>
                        <span class="value">ID : hwaYeonLee </span>
                    </div>
                    <div class="divider"></div>
                    <div class="a-info-row">
                        <span class="title">거래 장소</span>
                        <span class="value">아산공학관 로비</span>
                    </div>
                    <div class="divider"></div>
                    <div class="a-info-row">
                        <span class="title">상품 정보</span>
                        <span class="value">햇반 솥반 6종 / 중량 및 용량 : 200g, 210g</span>
                    </div>
                    <div class="divider"></div>
                    <div class="a-info-row">
                        <span class="title">주문 가능 수량</span>
                        <span class="value">3개</span>
                    </div>
                    <div class="divider"></div>



                </div>
                <!--하단 버튼-->
                <div class="order">
                    <p style="float:right;font-size: 18px;">총 금액 : 3,000원</p><br><br>
                    <div class="icons">
                        <img src="../static/images/icon_alert.png">
                        <img src="../static/images/icon_like.png">
                        <button class="add-to-cart">장바구니</button>
                    </div>
                    
                </div>

            </div>
        </section>   
        
    </body>
   



{% endblock section %}