{% extends "../static/templates/index.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="../static/grpurchase_ViewAll.css">
   
{% endblock %}

{% block section %}
<main class="main-layout">
    <!-- 카테고리 -->
    <section class="category-section"> 
        <h2 id="category-header">카테고리</h2>
        <div class="category-container">
            <div class="category-item">스킨케어 및 메이크업</div>
            <div class="category-item">헤어 바디 구강</div>
            <div class="category-item">육류 및 해산물</div>
            <div class="category-item">가공식품</div>
            <div class="category-item">생활용품 및 리빙</div>
            <div class="category-item">과일 채소</div>
            <div class="category-item">냉동식품</div>
            <a href="#" class="more-link">> 카테고리 더보기</a>
        </div>
    </section>

    <!-- 좌측 필터 -->
    <aside class="filter-section">
        <h3>필터</h3>
        <form>
            <div class="filter-group">
                <h3>남은기간</h3>
                <div class="filter-item">
                    <input type="checkbox" id="1w">
                    <label for="1w">1주일 이내</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="3d">
                    <label for="3d">3일 이내</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="1d">
                    <label for="1d">24시간 이내</label>
                </div>
            </div>
            <div class="filter-group">
                <h3>진행사항</h3>
                <div class="filter-item">
                    <input type="checkbox" id="9">
                    <label for="9">90%~</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="8">
                    <label for="8">80%~</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="7">
                    <label for="7">70%~</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" id="6">
                    <label for="6">60%~</label>
                </div>

            </div>
            <div class="filter-group">
                <h3>혜택</h3>
                <div class="filter-item">
                    <input type="checkbox" id="sale">
                    <label for="sale">할인상품</label>
                </div>
            </div>


        </form>
    </aside>

    <!-- 상품 리스트 섹션 -->
    <section class="product-list">
        <!-- 상품 항목들 여기에 추가 -->
    </section>
    
</main>
         
{% endblock section %}