{% extends "index.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="../static/grpurchaseDetail.css">
    <link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
   
{% endblock %}

{% block section %}

    <body>
        
        <section class="detail">
            <!--사진 섹션-->
            <div class="pic-section">
                <img src="../static/images/inputImages/{{data.img_path}}" alt="{{name}}" class="product-image">
            </div>
            <!--설명 섹션-->
            <div class="info-section">
                <div class="product-info">
                    <p style="color:#888;">마감시간 : 24시간 이내</p>
                    <h2>{{name}}</h2>
                    <p class="original-price">{{data.price}}</p>
                    <p class="discounted-price"><span>10%</span> 18,000원 ~ 1,500원(개당)</p>
                </div>
                <div class="additional-info">
                    <div class="a-info-row">
                        <span class="title">판매처</span>
                        <span class="value">{{data.info}}</span>
                    <div class="divider"></div>
                    <div class="a-info-row">
                        <span class="title">공동구매 주최자</span>
                        <span class="value">ID : {{data.id}} </span>
                    </div>
                    <div class="divider"></div>
                    <div class="a-info-row">
                      
                        <span class="title">거래 장소</span>
                        <span class="value">{{data.address}}</span>
                    </div>
                    <div class="divider"></div>
                    <div class="a-info-row">
                        <span class="title">상품 정보</span>
                        <span class="value">{{data.details}}</span>
                    </div>
                    <div class="divider"></div>
                    <div class="a-info-row">
                        <span class="title">주문 가능 수량</span>
                        <span class="value">{{data.cnt}}</span>
                    </div>
                    <div class="divider"></div>



                </div>
                <!--하단 버튼-->
                <div class="order">
                    <div class="tt">
                        <label for="quantity" style="margin-right: 10px;font-size: 18px;">수량</label>
                        <input id="quantity" type="number" value="0" min="0">
                        <p style="float:right;font-size: 18px;padding-top: 8px;">총 금액 : 3,000원</p>
                    </div>
                    <br><br>
                    <div class="icons">
                        <img src="../static/images/icon_alert.png">
                        <img src="../static/images/icon_like.png">
                        <button class="add-to-cart">장바구니</button>
                    </div>
                    
                </div>

            </div>
        </section>   
        
    </body>
   



{% endblock section %}