{% extends "index.html" %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
<link rel="stylesheet" type="text/css" href="../static/loginStyle.css">
{% endblock %}
{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
    <script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<div class = "contentBox">
    <div class = "logInText">로그인</div>
    <div class = "contentBox2">
        <form action = "/login_confirm" method="post">
            <div class = "idAndPasswordBox">
                <div class = "idAndPassWordBox2">
                    <div class = "idAndPassWordBox3">
                        <input name = "id" placeholder="아이디를 입력해주세요" type = "text" class = "idAndPassWordInput" value>
                    </div>
                </div>
                <div class = "idAndPassWordBox2">
                    <div class = "idAndPassWordBox3">
                        <input name = "pw" placeholder="비밀번호를 입력해주세요" type = "password" autocomplete="off" class = "idAndPassWordInput" value>
                    </div>
                </div>
            </div>
            <div class = "findIdAndPasswordBox">
                <a class = "findIdAndPasswordForA">아이디 찾기</a>
                <span class = "findIdAndPassWordLine"></span>
                <a class = "findIdAndPasswordForA">비밀번호 찾기</a>
            </div>
            <div class = "logInAndSignUpBox">
                <!-- js연결 필요 -->
                <button class = "logInBtn" type = "submit" height = "54" radius = "3">
                    <span class = "logInAndSignUpBtnText">로그인</span>
                </button>
                <a href = "/signup">
                    <button class = "signUpBtn" type = "button" height = "54" radius = "3">
                        <span class = "logInAndSignUpBtnText">회원가입</span>
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>
<div class = "footerBox">
    <div id = "footer" class = "footerBox2">
        <span class = "footerText">© POTG - Project Of The Genius</span>
    </div>
</div>
{% endblock section %}