{% extends "index.html" %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
<link rel="stylesheet" type="text/css" href="../static/mypage.css">
<link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mypage.css') }}">
{% endblock %}
{% block section %}
<div class="all">
    <div class="firstBox">
        <div class="secondBox">
            <div class="userInfoBox1">
                <div class="userInfoBox2">
                    <div class="topInfoSection">
                        <div class="nameBox1">
                            <div class="gradeName">
                                <div class="userName">
                                    안녕하세요! {{session['name']}}님<br>
                                    이메일 : {{session['email']}}<br>
                                    배송 주소 : {{session['address']}}<br>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="menuBox">
                        <div class="topMenuText">자주찾는 메뉴</div>
                        <div class="menuWrap">
                            <button class="menuLink" onclick="location.href='/history';">
                                <img class="menuIcon" src = "../static/images/주문목록.PNG">
                                <div class="menuText">거래 내역</div>
                            </button>
                            <button class="menuLink" onclick="location.href='/cart';">
                                <img class="menuIcon" src = "../static/images/카트.png">
                                <div class="menuText">장바구니</div>
                            </button>
                            <button class="menuLink" onclick="location.href='/heart';">
                                <img class="menuIcon" src = "../static/images/찜.png">
                                <div class="menuText">좋아요</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                {% block mypage_content %}
                {% endblock %}
        </div>
    </div>
</div>


<div class="footerBox">
    <div id="footer" class="footerBox2">
        <span class="footerText">© POTG - Project Of The Genius</span>
    </div>
</div>
{% endblock section %}