{% extends "index.html" %}

{% block custom_css %}
    <link rel = "stylesheet" href = "../static/product_detail.css">
    <link rel = "stylesheet" href = "../static/indexStyle.css">

{% endblock %}

{% block section %}
        <section class = "section-first">
            <img src = "../static/images/habf.png" alt = "아몬드" class = "image">
            <div class = "content">
                <h2 class = "name">HBAF 구운 아몬드 1kg</h2>
                <p class = "discount">62% <span class = "price">25,900원</span></p>
                <p class = "original-price">42,000원</p>
                <p class = "text">원산지: 미국</p>
                <div class="divider"></div>

                <div class = "content">
                    <div class = "info-row">
                        <span class = "information_title">배송</span>
                        <span class = "information">택배배송 3000원<br> <span class = "detail">(평균 배송기간 2일 이내 상품입니다.)</span></span>
                        
                </div>
                <div class="divider"></div>
                <div class = "info-row">
                    <span class = "information_title">포장</span>
                    <span class = "information">냉장(종이포장)<br><span class = "detail">택배 배송은 에코포장이 스티로폼으로 대체됩니다.</span></span><br>
                </div>
                <div class="divider"></div>
                <div class = "info-row">
                    <span class = "information_title">판매단위</span>
                    <span class = "information">1봉</span>
                </div>
                <div class="divider"></div>
                <div class = "info-row">
                    <span class = "information_title">중량/용량</span>
                    <span class = "information">1kg</span>
                </div>
                <div class="divider"></div>
                <div class = "info-row">
                    <span class = "information_title">알레르기</span>
                    <p class = "information">상품별 별도표기</span>
                </div>
                <div class="divider"></div>
                <div class = "info-row">
                    <span class = "information_title">소비기한</span>
                    <span class = "information">상품별 별도표기</span>
                </div>
                <div class="divider"></div>

                <div class="product-selection">
                    <label for="quantity", class ="information_title">상품 선택</label>
                    <div class="quantity-control">
                        <button onclick="decreaseQuantity()">-</button>
                        <input type="number" id="quantity" value="1" min="1" onchange="updateTotalPrice()">
                        <button onclick="increaseQuantity()">+</button>
                    </div>
                </div>

                <div class="divider"></div>
                <span class = "imformation-title_1">총 상품금액:<span class="price">25,900원</span></span>
                </div>
                <div class="button-container">
                    <button class="icon-button">❤️</button>
                    <button class="icon-button">🔔</button>
                    <button class="action-button">장바구니 담기</button>
                    <button class="action-button buy-now">바로 구매</button>
                </div>

            </div>
        </section>
        <div class = "footerBox">
            <div id = "footer" class = "footerBox2">
                <span class = "footerText">© POTG - Project Of The Genius</span>
            </div>
        </div>
{% endblock section %}