{% extends "index.html" %}
{% block custom_css %}
<link rel="stylesheet" href="../static/indexStyle.css">
<link rel="stylesheet" href="../static/review_write1.css">
<link rel="stylesheet" href="{{ url_for('static', filename='review_write1.css') }}">  
<link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">  
{% endblock %}
{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
<script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<section class="popular-reviews">
    <h2>거래 내역</h2><br>
    <!-- <div class="review-container">
        <div class="review-header">
            <div class="sc-m8svln-1 cyJYiM">
                <div class="sc-m8svln-2 eCiRxv">
                    <input value="주문한 상품을 검색할 수 있어요!" class="sc-m8svln-3 ktMLQz">
                </div>
            </div>
            <div class="sc-m8svln-4 dKPECc">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:#00462a">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="#000" fill-opacity="0" d="M0 24L24 24 24 0 0 0z"></path>
                        <path fill="#00462A" fill-rule="nonzero"
                            d="M11 19.5c4.694 0 8.5-3.806 8.5-8.5S15.694 2.5 11 2.5 2.5 6.306 2.5 11s3.806 8.5 8.5 8.5zm0 1c-5.247 0-9.5-4.253-9.5-9.5S5.753 1.5 11 1.5s9.5 4.253 9.5 9.5-4.253 9.5-9.5 9.5zm6.854-3.354l4.5 4.5c.471.472-.236 1.179-.708.708l-4.5-4.5c-.471-.472.236-1.179.708-.708z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
    </div> -->

    <!-- <div class="filter-buttons">
        <input type="button" value="최근 3개월" class="filter-button">
        <input type="button" value="최근 6개월" class="filter-button">
        <input type="button" value="2023" class="filter-button">
    </div> -->

    <div class="sc-fimazj-0 gKYVxm">
        <!-- <div class="sc-abukv2-0 kcHmyx">
            <div class="sc-abukv2-1 kSZYgn">2024. 10. 7 주문</div>
            <div class="sc-abukv2-2 kThsCL">
                <svg width="20" height="20">
                    <path fill="#346aff" fill-rule="nonzero"></path>
                </svg>
            </div>
        </div> -->
        {% if history_items %}
            {% for item_name, item_data in history_items.items() %}
            <div class="gallery-container">
                <div class="gallery-item">
                    <div class="item-content">
                        <a target="_blank" href="{{ url_for('static', filename='images/inputImages/' + item_data.img_path) }}">
                            <img src="{{ url_for('static', filename='images/inputImages/' + item_data.img_path) }}" alt="Item Image">
                        </a>
                        <div class="description">
                            <p>{{item_name}}</p>
                            <p>{{item_data.price}}</p>
                            <p>{{item_data.method}} • {{item_data.seller}}</p>
                        </div>
                        {% if reviewed_status[item_name] %}
                        <a href = "#" style="text-decoration: none; cursor: none;">
                            <button class="sc-1k9quwu-0 hEHzLT sc-gnmni8-8 kiiuoA" style="background-color: rgb(228, 228, 228);">리뷰 작성 완료</button>
                        </a>
                        {% else %}
                        <a href = "/reg_review_init/{{item_name}}/" style="text-decoration: none; cursor: pointer;">
                            <button class="sc-1k9quwu-0 hEHzLT sc-gnmni8-8 kiiuoA">리뷰 작성하기</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        <br>
        {% else %}
        <p style="text-align: center; font-size: 1.2em; color: #666;">
            거래 내역이 없습니다... <a href="/view_product" style="text-decoration: underline; color: #00462a;">상품을 구매해볼까요?</a>
        </p>
        {% endif %}
        <!-- <div class="sc-fimazj-0 gKYVxm">
            <div class="sc-abukv2-0 kcHmyx">
                <div class="sc-abukv2-1 kSZYgn">2024. 10. 3 주문</div>
                <div class="sc-abukv2-2 kThsCL">
                    <svg width="20" height="20">
                        <path fill="#346aff" fill-rule="nonzero"></path>
                    </svg>
                </div>
            </div>
        </div> -->

        <!-- <div class="gallery-container">
            <div class="gallery-item">
                <div class="item-content">
                    <a target="_blank" href="../static/images/상추.jpg">
                        <img src="../static/images/상추.jpg" alt="Item Image">
                    </a>

                    <div class="description">
                        <p>유 기 농 청 상 추 5 0 0 g</p>
                        <p>3 4 0 0 원 / 1 개</p>
                        <p>공 동 구 매 • 김 이 화 ( e w h a k i m 1 8 8 6 )</p>
                    </div>
                    <a href = "/review_write2" style="text-decoration: none; cursor: pointer;">
                    <button class="sc-1k9quwu-0 hEHzLT sc-gnmni8-8 kiiuoA">리뷰 작성하기</button>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</section>

<div class = "footerBox">
    <div id = "footer" class = "footerBox2">
        <span class = "footerText">© POTG - Project Of The Genius</span>
    </div>
</div>
{% endblock section %}
