{% extends "index.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="../static/review_ViewAll.css">
{% endblock %}

{% block section %}
<section class="popular-reviews">
    <h2>이번 주 인기 리뷰</h2>
    <div class="review-list">
        <div class="review-item">
            <div class="review-image-container" onclick="location.href='review_Vieweach.html?id=1'">
                <div class="overlay">고구마가 너무 달콤하고 맛있어요..해남 고..</div>
                <p class="title">제목: 최고의 고구마</p>
                <img src="../static/images/고구마_리뷰사진.jpg" alt="강아지 이미지" class="review-image">
            </div>
            <div class="divider"></div>
            <p class="author">👤 <span class="author-background">ilovedog</span></p>
            <p class="product">해남 밤고구마 1kg...</p>
            <img src="../static/images/고구마.jpg" alt="상품 이미지" class="product-image">
            <div class="icon-column">
                <div class="icon-box">🔍</div>
                <div class="icon-box">❤️</div>
                <div class="icon-box">🛒</div>
            </div>
        </div>
        <div class="review-item">
            <div class="review-image-container" onclick="location.href='review_Vieweach.html?id=2'">
                <div class="overlay">토순이가 배고파하길래 같이 나눠..</div>
                <p class="title">제목: 저희 집 토끼도 좋아해요</p>
                <img src="../static/images/상추_리뷰사진.jpg" alt="토끼 이미지" class="review-image">
            </div>
            <div class="divider"></div>
            <p class="author">👤 <span class="author-background">1일1채소</span></p>
            <p class="product">유기농 청상추 500g...</p>
            <img src="../static/images/상추.jpg" alt="상품 이미지" class="product-image">
            <div class="icon-column">
                <div class="icon-box">🔍</div>
                <div class="icon-box">❤️</div>
                <div class="icon-box">🛒</div>
            </div>
        </div>
        <div class="review-item">
            <div class="review-image-container" onclick="location.href='review_Vieweach.html?id=3'">
                <div class="overlay">오이무침을 하고 남는 오이는 오이팩을..</div>
                <p class="title">제목: 오이팩도 가능해요 ㅎㅎ</p>
                <img src="../static/images/오이_리뷰사진.jpg" alt="고양이 이미지" class="review-image">
            </div>
            <div class="divider"></div>
            <p class="author">👤 <span class="author-background">고양이사랑</span></p>
            <p class="product">아삭오이 2묶음</p>
            <img src="../static/images/오이.jpg" alt="상품 이미지" class="product-image">
            <div class="icon-column">
                <div class="icon-box">🔍</div>
                <div class="icon-box">❤️</div>
                <div class="icon-box">🛒</div>
            </div>
        </div>
        <div class="review-item">
            <div class="review-image-container" onclick="location.href='review_Vieweach.html?id=4'">
                <div class="overlay">럭키계란이에요! 계란 노른자가 웃고..</div>
                <p class="title">제목: 계란후라이가 웃고 있어요!</p>
                <img src="../static/images/계란_리뷰사진.jpg" alt="계란프라이 이미지" class="review-image">
            </div>
            <div class="divider"></div>
            <p class="author">👤 <span class="author-background">egglover</span></p>
            <p class="product">유정란 백색계란 30구</p>
            <img src="../static/images/계란.jpg" alt="상품 이미지" class="product-image">
            <div class="icon-column">
                <div class="icon-box">🔍</div>
                <div class="icon-box">❤️</div>
                <div class="icon-box">🛒</div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a href="#">&laquo; 이전</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">다음 &raquo;</a>
    </div>
</section>
{% endblock section %}

<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTG</title>
    
    <style>
        
        
    </style>
</head> -->
<!-- <body>


</body>
</html> -->
