{% extends "index.html" %}
{% block custom_css %}
<link rel="stylesheet" href="../static/review_write2.css">
<link rel="stylesheet" href="../static/indexStyle.css">
<link rel="stylesheet" href="{{ url_for('static', filename='review_write2.css') }}">  
<link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">  
{% endblock %}
{% block section %}
<form action="/reg_review" method="post" enctype="multipart/form-data">
    <br>
    <div class="review-container" style="position: static;"> 
        {% if session['id'] %}
        <h2 style="font-weight: normal;">리뷰 작성 <span style="font-size: 12pt; font-weight: normal; color: grey;">{{session['name']}} ({{session['id']}})</span></h2>
        {% else %} 
        <h2>리뷰작성 <h3 style="color: grey;">비회원</h3></h2>
        {% endif %}
        <hr>
        <div class = "productInfo">{{name}} {{data.price}}원</div>
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="price" value="{{ data.price }}">
        <div class="star-rating">
            <span style="color: black;">주문한 상품에 얼마나 만족하시나요?</span>
            <input type="radio" name = "star" class="star" value="1">
            <input type="radio" name = "star" class="star" value="2">
            <input type="radio" name = "star" class="star" value="3">
            <input type="radio" name = "star" class="star" value="4">
            <input type="radio" name = "star" class="star" value="5">
        </div>
        <hr style="clear:both">

        <div class="section">
            <label for="review-title"></label>
            <input type="text" name="title" id="review-title" placeholder="리뷰의 제목을 입력해주세요" required><br>
        </div>

        <div class="section">
            <label for="review-content"></label>
            <textarea name ="review-content" id="review-content" placeholder="다른 벗들에게 도움이 되도록 상품에 대한 솔직한 평가를 남겨주세요." required></textarea>
        </div>

        <hr>

        <div class="section" style="margin-bottom: 0px;">
            <label for="review-photo">사진 첨부하기</label>
            <label for = "photo"><img id ="changeableImg" style="width: 12%;" src = "{{ url_for('static', filename='images/리뷰사진등록이미지.PNG') }}" class = "imageUploadImg"></label>
            <input class = "imageUploadBtn" type="file" name="file" id="photo" accept=".png, .jpeg, .jpg" style="display: none;"
                    onchange="previewImage(event)"><br>
        </div>

        <div class="buttons">
            <button class="save-draft">임시 저장</button>
            <button type ="submit" class="submit-review">작성 완료</button>
            <button class="cancel-review">작성 취소</button>
        </div>
    </div>
</form>

<script>
    function previewImage(event) {
        const reader = new FileReader();
        const image = document.getElementById('changeableImg');

        reader.onload = function () {
            image.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}
