{% extends "index.html" %}

{% block custom_css %}
    <link rel="stylesheet" href="../static/review_ViewAll.css">
    <link rel="stylesheet" href="../static/indexStyle.css">
{% endblock %}

{% block section %}
<section class="popular-reviews">
{% if total > 0 %}
    <h2> 리뷰 조회 </h2>
    <p class = "total-count">총 {{total}}개</p>
    <div class="review-list">
        {% for key, value in row1 %}
        <div class="review-item">
            <div class="review-image-container" onclick="location.href= '/review_Vieweach/{{key}}/';" style="cursor:pointer;">
                <!-- <div class="overlay">고구마가 너무 달콤하고 맛있어요..해남 고..</div> -->
                <p class="title">제목: {{value['title']}}</p>
                {% set image_path = value['review_img'] %}
                <img src="{{ url_for('static', filename='images/inputImages/' + image_path) }}" class="review-image">
                <!-- <img src="../static/images/고구마_리뷰사진.jpg" alt="강아지 이미지" class="review-image"> -->
            </div>
            <div class="divider"></div>
            <!-- <p class="author">👤 <span class="author-background">ilovedog</span></p> -->
            <p class="author">👤 <span class="author-background">{{value['author']}}</span></p>
            <!-- <p class="product">해남 밤고구마 1kg...</p> -->
            <p class="product">{{key}}</p>
            <!-- <img src="../static/images/고구마.jpg" alt="상품 이미지" class="product-image"> -->
            {% set image_path = value['product_img'] %}
            <img src="{{ url_for('static', filename='images/inputImages/' + image_path) }}" alt="상품 이미지" class="product-image">
            
        </div>
        {% endfor %}

        {% for key, value in row2 %}
        <div class="review-item">
            <div class="review-image-container" onclick="location.href= '/review_Vieweach/{{key}}/';" style="cursor:pointer;">
                <!-- <div class="overlay">고구마가 너무 달콤하고 맛있어요..해남 고..</div> -->
                <p class="title">제목: {{value['title']}}</p>
                {% set image_path = value['review_img'] %}
                <img src = "{{ url_for('static', filename='images/inputImages/' + image_path) }}" class ="review-image">
                <!-- <img src="../static/images/고구마_리뷰사진.jpg" alt="강아지 이미지" class="review-image"> -->
            </div>
            <div class="divider"></div>
            <!-- <p class="author">👤 <span class="author-background">ilovedog</span></p> -->
            <p class="author">👤 <span class="author-background">{{value['author']}}</span></p>
            <!-- <p class="product">해남 밤고구마 1kg...</p> -->
            <p class="product">{{key}}</p>
            <!-- <img src="../static/images/고구마.jpg" alt="상품 이미지" class="product-image"> -->
            {% set image_path = value['product_img'] %}
            <img src="{{ url_for('static', filename='images/inputImages/' + image_path) }}" alt="상품 이미지" class="product-image">
      
        </div>
        {% endfor %}

        <!--페이지네이션-->
        <div class = "page-wrap">
            <div class = "pagination">
                <a href = "{{url_for('view_review', page = 0)}}">&laquo; 처음</a>
                {% for i in range(page_count) %}
                <a href = "{{url_for('view_review', page = i)}}" color = "black">{{i+1}}</a>
                {% endfor %}
                <a href = "{{url_for('view_review', page = page_count-1)}}" > 끝 &raquo;</a>
            </div>
        </div>
{% endif %}
</section>
<div class = "footerBox">
    <div id = "footer" class = "footerBox2">
        <span class = "footerText">© POTG - Project Of The Genius</span>
    </div>
</div>
{% endblock section %}

<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTG</title>
    
    <style>
        
        
    </style>
</head> -->
<!-- <body>


</body>
</html> -->
