{% extends "index.html" %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
<link rel="stylesheet" type="text/css" href="../static/signupStyle.css">
<link rel="stylesheet" href="{{ url_for('static', filename='signupStyle.css') }}">  
{% endblock %}
{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
    <script>alert("{{ mesg[0] }}");</script>
{% endif %}
{% endwith %}
<form method="post" action = "/signup_post">
<div class = "d1">
    <div class = "signUpText">회원가입</div>
    <div class = "contentBox">
        <div class = "requiredBox">
            <span class = "starSign">*</span> 필수입력사항
        </div>
        <!-- 필수 입력 사항들 입력안했을 때 인풋 박스 바로 밑에 xx을 입력해주세요 빨간 글씨로 나와야 함 -->
        <div class = "infoInputBox">
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        아이디
                        <span class = "starSign">*</span>
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBox2">
                        <div class = "inputBox3">
                            <input id = "memberId" name = "id" placeholder="아이디를 입력해주세요" type = "text" required class = "inputInner" value>
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        비밀번호
                        <span class = "starSign">*</span>
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBox2">
                        <div class = "inputBox3">
                            <input id = "password" name = "pw" placeholder="비밀번호를 입력해주세요" type = "password" autocomplete="off" class = "inputInner"  required value="">
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        비밀번호확인
                        <span class = "starSign">*</span>
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBox2">
                        <div class = "inputBox3">
                            <input id = "passwordConfirm" name = "pwConfirm" placeholder="비밀번호를 한번 더 입력해주세요" type = "password" autocomplete="off" class = "inputInner" required value>
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        이름
                        <span class = "starSign">*</span>
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBox2">
                        <div class = "inputBox3">
                            <input id = "name" name = "name" placeholder="이름을 입력해주세요" type = "text" required class = "inputInner" value>
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        이메일
                        <span class = "starSign">*</span>
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBox2">
                        <div class = "inputBox3">
                            <input id ="email" type = "hidden" name = "email" value>
                            <input id = "emailId" name = "emailId" placeholder="예: potg" type = "text" required class = "inputEmail" value>
                            <div class = "emialAt">@</div>
                            <div class = "emailBack">
                                <button type = "button" class = "btnTextEmpty">선택하기</button>
                                <button type = "button" class = "btnSelect">
                                    <img style="width: 10px;margin-right: 10px;" src = "../static/images/이메일드롭다운버튼.png" alt = "arrowDown">
                                </button>
                                <!--이부분은 display:none 되어있음-->
                                <div class = "emailAdrSelect">
                                    <button type = "button" class = "dropdown__item">naver.com</button>
                                    <button type = "button" class = "dropdown__item">gmail.com</button>
                                    <button type = "button" class = "dropdown__item">hanmail.net</button>
                                    <button type = "button" class = "dropdown__item">kakao.com</button>
                                    <button type = "button" class = "dropdown__item">daum.net</button>
                                    <button type = "button" class = "dropdown__item">hotmail.com</button>
                                    <button type = "button" class = "dropdown__item">yahoo.co.kr</button>
                                    <button type = "button" class = "dropdown__item">직접입력</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        주소
                        <span class = "starSign">*</span>
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBox2">
                        <div class = "inputBox3">
                            <input id = "address" name = "address" placeholder="주소를 입력해주세요" type = "text" required class = "inputInner" value>
                            <button type="button" class="address-button" onclick="fetchAddress()">주소 찾기</button>
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        휴대폰
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBox2">
                        <div class = "inputBox3">
                            <input id = "mobileNumber" name = "mobileNumber" placeholder="숫자만 입력해주세요" type = "tel" 
                            oninput = "this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
                            class = "inputInner" value>
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        성별
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "inputBoxForGender">
                        <label class = "selectGenderBox" for = "gender-woman">
                            <input id = "gender-woman" name = "gender" type = "radio" class = "radioGenderBtn" value = "FEMALE">
                            <!-- 클릭에 따라 span과 div의 class가 바뀌어야 함 또는 색깔 -->
                            <span class = "radioOutCircleClick">
                                <div class = "radioInnderCircleClick"></div>
                            </span>
                            <span aria-labelledby="gender-woman" class = "genderText">여자</span>
                        </label>
                        <label class = "selectGenderBox" for = "gender-man">
                            <input id = "gender-man" name = "gender" type = "radio" class = "radioGenderBtn" value = "MALE">
                            <span class = "radioOutCircleClick">
                                <div class = "radioInnderCircleClick"></div>
                            </span>
                            <span aria-labelledby="gender-man" class = "genderText">남자</span>
                        </label>
                        <label class = "selectGenderBox" for = "gender-none">
                            <input id = "gender-none" name = "gender" type = "radio" class = "radioGenderBtn" value = "none" checked>
                            <span class = "radioOutCircleClick">
                                <div class = "radioInnderCircleClick"></div>
                            </span>
                            <span aria-labelledby="gender-none" class = "genderText">선택안함</span>
                        </label>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
            <div class = "infoInput">
                <div class = "infoName">
                    <label class = "infoNameDetail">
                        생년월일
                    </label>
                </div>
                <div class = "inputBox">
                    <div class = "entireBirthDayBox">
                        <div class = "detailBirthDayBox">
                            <div class = "detailInnerBirthDayBox">
                                <input name = "birthYear" placeholder="YYYY" type = "text" height="40" class = "birthDayInput" value>
                            </div>
                        </div>
                        <span class = "birthDayLine"></span>
                        <div class = "detailBirthDayBox">
                            <div class = "detailInnerBirthDayBox">
                                <input name = "birthMonth" placeholder="MM" type = "text" height="40" class = "birthDayInput" value>
                            </div>
                        </div>
                        <span class = "birthDayLine"></span>
                        <div class = "detailBirthDayBox">
                            <div class = "detailInnerBirthDayBox">
                                <input name = "birthDay" placeholder="DD" type = "text" height="40" class = "birthDayInput" value>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "rightMargin"></div>
            </div>
        </div>
        <div class = "lineBtwInfoAndTerms"></div>
        <div class = "termsBox">
            <div class = "termsInnerBox">
                <div class = termsLeftBox>
                    <label class = "agreeText">
                        이용약관동의
                        <span class ="starSign">*</span>
                    </label>
                </div>
                <div class = termsRightBox>
                    <div class = "termsCheckBox">
                        <label class = "labelFroAgreeAll" for = "TermsAgreeAll">
                            <input id = "TermsAgreeAll" type = "checkbox" class = "inputForAgree">
                            <div class = "divForCheckBox">
                                <img id = "TermsAgreeAllImg" src = "../static/images/체크박스1.png" style="width: 25px;">
                            </div>
                            <span style="margin-bottom: 5px; color: rgb(51, 51, 51);">전체 동의합니다</span>
                        </label>
                    </div>
                    <div class = "termsCheckBox">
                        <div class = "termsInnerCheckBox">
                            <label class = "labelForTermsAgree" for = "RequiredTermsCondition">
                                <input id = "RequiredTermsCondition" type = "checkbox" class = "inputForAgree" required>
                                <div class = "divForCheckBox">
                                    <img id = "RequiredTermsConditionImg" src = "../static/images/체크박스1.png" style="width: 25px;">
                                </div>
                                <span style="margin-bottom: 5px;color: rgb(51, 51, 51);">이용약관동의</span>
                            </label>
                            <span class = "termTextForRequired">(필수)</span>
                        </div>
                    </div>
                    <div class = "termsCheckBox">
                        <div class = "termsInnerCheckBox">
                            <label class = "labelForTermsAgree" for = "RequiredTermsOfPrivacy">
                                <input id = "RequiredTermsOfPrivacy" type = "checkbox" class = "inputForAgree" required>
                                <div class = "divForCheckBox">
                                    <img id = "RequiredTermsOfPrivacyImg" src = "../static/images/체크박스1.png" style="width: 25px;">
                                </div>
                                <span style="margin-bottom: 8px;color: rgb(51, 51, 51);">개인정보 수집∙이용 동의</span>
                            </label>
                            <span class = "termTextForRequired">(필수)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "signUpBtnBox">
            <button class = "signUpBtn" type = "submit" width ="240" hegith = "56" radius = "3" value = "생성">
                <span class = "signUpBtnText" style="color: white;">가입하기</span>
            </button>
        </div>
    </div>
</div>
</form>
<div class = "footerBox">
    <div id = "footer" class = "footerBox2">
        <span class = "footerText">© POTG - Project Of The Genius</span>
    </div>
</div>
<script src="../static/signup.js"></script>
<script src="{{ url_for('static', filename='signup.js') }}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{% endblock section %}
