{% extends "index.html" %}

{% block custom_css %}
<link rel="stylesheet" href="../static/view_product.css">
<link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
{% endblock %}

{% block section %}
<script>
    $(document).ready(function () {
        //alert("{{category}}");
        $('#category option:contains("{{category}}")').prop("selected", true);
    });
</script>
<!--상품 조회 부분-->
<header class="header">
    <h1 style="font-weight: lighter;">상품 조회</h1>
</header>

<section class="popular-list">
    <h2 class="section-title">인기 상품</h2>
    <table class="popular-table">
        <tr>
            {% for key, value in popular_items %}
            <td class="popular-item" onclick="location.href = '/view_detail/{{key}}/';" style="cursor: pointer;">
                <div class="overlay">
                    <br>
                    <p class="popular-name">{{ key }}</p>
                    <span class="discount">{{ value['method'] }}
                        <span class="discount-price">{{ value['price'] }}원</span>
                    </span>
                </div>
                <img src="../static/images/inputImages/{{ value['img_path'] }}" alt="{{ key }}" class="popular-image">
            </td>
            {% endfor %}
        </tr>
    </table>
</section>

<!--여기 상품 등록 추가-->
{% if total > 0 %}
<section class="scroll-section">
    <div class="product-header">
        <p class="total-count">총 {{total}}개</p>
        <div class="sort-options">
            <select id="category" name="category" onchange="location=this.value">>
                <option value="{{url_for('view_product', page=i, category='all')}}"> 전체 </option>
                <option value="{{url_for('view_product', page=i, category='화장품')}}"> 화장품 </option>
                <option value="{{url_for('view_product', page=i, category='의류')}}"> 의류 </option>
                <option value="{{url_for('view_product', page=i, category='육류 및 해산물')}}"> 육류 및 해산물 </option>
                <option value="{{url_for('view_product', page=i, category='가공식품')}}"> 가공식품 </option>
                <option value="{{url_for('view_product', page=i, category='과일 및 채소')}}"> 과일 및 채소 </option>
                <option value="{{url_for('view_product', page=i, category='냉동식품')}}"> 냉동식품 </option>
                <option value="{{url_for('view_product', page=i, category='전자제품')}}"> 전자제품 </option>
                <option value="{{url_for('view_product', page=i, category='기타')}}"> 기타 </option>
            </select>
        </div>
        <!-- <div class = "sort-options">
            <span class = "sort-button">추천순</span>
            <span class = "sort-button active">등록순</span>
            <span class = "sort-button">인기순</span>
        </div> -->
    </div>

    <table class="product-table">
        <tr>
            {% for key, value in row1 %}
            <td onclick="location.href = '/view_detail/{{key}}/';" style="cursor: pointer;">
                <img src="../static/images/inputImages/{{value['img_path']}}" alt="{{key}}" class="product-image">
                <div style="margin-top: 5px;">
                    <span class="product-name">{{key}}</span>
                    <span class="discount">{{value['method']}}
                        <span class="discount-price">{{value['price']}}원</span>
                </div>
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row2 %}
            <td onclick="location.href = '/view_detail/{{key}}/';" style="cursor: pointer;">
                <img src="../static/images/inputImages/{{value['img_path']}}" alt="{{key}}" class="product-image">
                <div style="margin-top: 5px;">
                    <span class="product-name">{{key}}</span>
                    <span class="discount">{{value['method']}}
                        <span class="discount-price">{{value['price']}}원</span>
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>

    <!--페이지네이션-->
    <div class="page-wrap">
        <div class="pagination">
            <a href="#">&laquo; 이전</a>
            {% for i in range(page_count) %}
            <a href="{{url_for('view_product', page = i)}}" color="black">{{i+1}}</a>
            {% endfor %}
            <a href="#">다음 &raquo;</a>
        </div>
    </div>
</section>

{% else %}
<section class="scroll-section">
    <div class="product-header">
        <p class="total-count">총 0개</p>
        <div class="sort-options">
            <select id="category" name="category" onchange="location=this.value">>
                <option value="{{url_for('view_product', page=i, category='all')}}"> 전체 </option>
                <option value="{{url_for('view_product', page=i, category='화장품')}}"> 화장품 </option>
                <option value="{{url_for('view_product', page=i, category='의류')}}"> 의류 </option>
                <option value="{{url_for('view_product', page=i, category='육류 및 해산물')}}"> 육류 및 해산물 </option>
                <option value="{{url_for('view_product', page=i, category='가공식품')}}"> 가공식품 </option>
                <option value="{{url_for('view_product', page=i, category='과일 및 채소')}}"> 과일 및 채소 </option>
                <option value="{{url_for('view_product', page=i, category='냉동식품')}}"> 냉동식품 </option>
                <option value="{{url_for('view_product', page=i, category='전자제품')}}"> 전자제품 </option>
                <option value="{{url_for('view_product', page=i, category='기타')}}"> 기타 </option>
            </select>
        </div>
        <!-- <div class = "sort-options">
            <span class = "sort-button">추천순</span>
            <span class = "sort-button active">등록순</span>
            <span class = "sort-button">인기순</span>
        </div> -->
    </div>

    <p class="product-name" style="text-align: center; margin:100px">등록된 상품이 없습니다.</p>

    <div class="footerBox">
        <div id="footer" class="footerBox2">
            <span class="footerText">© POTG - Project Of The Genius</span>
        </div>
    </div>
</section>
{% endif %}
{% endblock section %}