{% extends "index.html" %}

{% block custom_css %}
    <link rel = "stylesheet" href = "../static/view_product.css">
    <link rel="stylesheet" type="text/css" href="../static/indexStyle.css">

{% endblock %}

{% block section %}
<!--상품 조회 부분-->
<header class = "header">
    <h1 style="font-weight: lighter;">상품 조회</h1>
</header>

<section class = "popular-list">
    <h2 class = "section-title">이번주 인기 상품</h2>

    <table class = "popular-table">
        <tr>
            <td class = "popular-item">
                <div class = "overlay">
                    <br>
                    <p class = "popular-name"> 잔슨빌 소시지 1670g </p>
                    <p class = "price">35,900원</p> 
                    <span class = "discount">48% <span class = "discount-price">18,500원</span></span>
                    <p class = "rating"> ★ 평균 별점 4.8  💬 9,999+</p>
                </div>
                <img src = "../static/images/popular1.png" alt = "소세지" class = "popular-image">
            </td>

            <td class = "popular-item">
                <div class = "overlay">
                    <br>
                    <p class = "popular-name"> 당근 제주 흙 햇 국내산 3kg </p>
                    <p class = "price">33,000원</p> 
                    <span class = "discount">48% <span class = "discount-price">16,900원</span></span>
                    <p class = "rating"> ★ 평균 별점 4.7  💬 9,999+</p>
                </div>
                <img src = "../static/images/popular2.png" alt = "당근" class = "popular-image">
            </td>
            
            <td class = "popular-item">
                <div class = "overlay">
                    <br>
                    <p class = "popular-name"> 한돈 캠핑고기 </p>
                    <p class = "price">21,800원</p> 
                    <span class = "discount">13% <span class = "discount-price">18,900원</span></span>
                    <p class = "rating"> ★ 평균 별점 4.9  💬 9,999+</p>
                </div>
                <img src = "../static/images/popular3.png" alt = "고기" class = "popular-image">
            </td>
        
            <td class = "popular-item">
                <div class = "overlay">
                    <br>
                    <p class = "popular-name"> 제철 햇 감자 3kg 국내산 </p>
                    <p class = "price">19,600원</p> 
                    <span class = "discount">49% <span class = "discount-price">9,900원</span></span>
                    <p class = "rating"> ★ 평균 별점 4.8  💬 9,999+</p>
                </div>
                <img src = "../static/images/popular4.png" alt = "감자" class = "popular-image">
            </td>
            
            <td class = "popular-item">
                <div class = "overlay"><!--국내산 스테비아 대추 토마토 자리-->
                <br>
                <p class = "popular-name"> 국내산 스테비아 대추 토마토 500g </p>
                <p class = "price">24,000원</p> 
                <span class = "discount">42% <span class = "discount-price">11,000원</span></span>
                <p class = "rating"> ★ 평균 별점 5.0  💬 9,999+</p>
                </div>
                <img src = "../static/images/popular5.png" alt = "방울토마토" class = "popular-image">
            </td>
        </tr>
    </table>
</section>

<!--여기 상품 등록 추가-->
{% if total > 0 %}
<section class = "scroll-section">
    <div class = "product-header">
        <p class = "total-count">총 {{total}}개</p>
        <div class = "sort-options">
            <span class = "sort-button">추천순</span>
            <span class = "sort-button active">등록순</span>
            <span class = "sort-button">인기순</span>
        </div>
    </div>

    <table class = "product-table">
        <div class = "product-item">
        <tr>
            {% for key, value in row1 %}
            <td onclick = "location.href = '/view_detail/{{key}}/';" style = "cursor: pointer;">
                <img src = "../static/images/inputImages/{{value['img_path']}}" alt = "{{key}}" class = "product-image">
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row1 %}
            <td>
                <span class = "product-name">{{key}}</span>
                <span class = "discount">{{value['method']}}
                <span class = "discount-price">{{value['price']}}원</span>
            </td>
            {% endfor %}
        </tr>
        <tr>
            {% for key, value in row2 %}
            <td onclick = "location.href = '/view_detail/{{key}}/';" style = "cursor: pointer;">
                <img src = "../static/images/inputImages/{{value['img_path']}}" alt = "{{key}}" class = "product-image">
            </td>
            {% endfor %}

        </tr>
        <tr>
            {% for key, value in row2 %}
            <td>
                <span class = "product-name">{{key}}</span>
                <span class = "discount">{{value['method']}}
                <span class = "discount-price">{{value['price']}}원</span>
            </td>
            {% endfor %}
        </tr>
        </div>
    </table>

    <!--페이지네이션-->
    <div class = "page-wrap">
        <div class = "pagination">
            <ul>
                <li>
                    <a href = "#">&laquo; 이전</a>
                    {% for i in range(page_count) %}
                    <a href = "{{url_for('view_list', page = i)}}" color = "black">{{i+1}}</a>
                    {% endfor %}
                    <a href = "#">다음 &raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% else %}
<section class = "scroll-section">
    <div class = "product-header">
        <p class = "total-count">총 0개</p>
        <div class = "sort-options">
            <span class = "sort-button">추천순</span>
            <span class = "sort-button active">등록순</span>
            <span class = "sort-button">인기순</span>
        </div>
    </div>

    <p class = "product-name">등록된 상품이 없습니다.</p>
</section>
{% endif %}


<div class = "footerBox">
    <div id = "footer" class = "footerBox2">
        <span class = "footerText">© POTG - Project Of The Genius</span>
    </div>
</div>
{% endblock section %}